# Ignore the Dockerfile itself
Dockerfile

# Ignore .git directory (version control)
.git
.gitignore


# Ignore logs and temp files
*.log
*.tmp

# Ignore Python cache files and directories
__pycache__/
*.pyc
*.pyo
*.pyd
*.cfg

# Ignore compiled code
*.o
*.so

# Ignore IDE project files
*.idea/
.vscode/
.history/

# Ignore environment files
.env
.venv/
env/
venv/
ds4b_2101_p/
# Ignore tests
tests/
*.test.*

#others
*.zip/
*.tar.gz
*.tar.bz2
*.rar
*.7z
*.pem
